<div class ="haikei">
  <div class="login-text">Sign up</div>

  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
  </p> 

  <%= form_with model:@user, url:user_registration_path, local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class ="login-text">
      <div class="login-username">
        <%= f.label :nickname %> <em>(6 characters maximum)</em><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "6" %>
      </div>
      <label class="login-username">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>

      <div class="login-username">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

    <%if @sns_id.present? %>
         <%= hidden_field_tag :sns_auth, true %>
      <% else %>
      <div class="login-username">
        <%= f.label :password %>
        <% @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="login-username">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    <% end %>



      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>


     

      <%= link_to  user_facebook_omniauth_authorize_path, method: :post do %>
       <i class = "slider__image fa fa-facebook"></i>
      <% end %>
      <%= link_to  user_google_oauth2_omniauth_authorize_path, method: :post do%>
       <i class = "slider__image fa fa-google"></i>
      <% end %>
    </div>
  <% end %> 
</div>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>