
<div class="muck-up">
  <div class="overlay"></div>
  <div class="top">
    <div class="nav">
      <span class="ion-android-menu"></span>
      <p>Myプロフィール</p>
      <span class="ion-ios-more-outline"></span>
    </div>
    <div class="user-profile">
    <%# 画像をつける %>
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <div class="user-details">
        <%= @user.nickname %>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="filter-btn">
    <%# <% if current_user.id == @post.user_id %>
    <% if @user.id == current_user.id %>
     <%= link_to "編集", edit_user_registration_path %>
    <% end %>
     <%# <a id="one" href="#"><i class="ion-ios-checkmark-outline"></i></a>
    # <a id="two" href="#"><i class="ion-ios-alarm-outline"></i></a>
    # <a id="three" href="#"><i class="ion-ios-heart-outline"></i></a>
    # <a id="all" href="#"><i class="ion-ios-star-outline"></i></a> %>
     <%# <% end %>
    
  </div>
  <div class="clearfix"></div>
  <div class="bottom">
    <div class="title">
      <h3>投稿</h3>
      <small><%= @user.created_at.strftime("%Y-%m-%d %H:%M") %>から開始</small>
    </div>
    <ul class="tasks">
      <li class="one red">
         <% @post.each do |post| %>
           <% if @user.id == post.user.id %>
              <span class="task-title"><%= post.title %></span>
              <span class="task-time"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></span>
              <span class="task-time"><%= link_to '削除', post_path(post.id), method: :delete %></span>
              <span class="task-cat"><%= post.text%></span>
            <% end %>
          <% end %>
       
      </li>
      <div class="title">
      
      
        <% @favorite_posts.each do |post| %>
          <hr>
          <p><i class="fa fa-thumbs-up"></i><%=link_to  post_path(post.id) %></p>
        <% end %>

      </div>
      <%# <li class="two green">
        <span class="task-title">Design Explorations</span>
        <span class="task-time">2pm</span>
        <span class="task-cat">Company Web site</span>

      </li>
      </li>
      <li class="tow green hang">
        <span class="task-title">Team Meeting</span>
        <span class="task-time">2pm</span>
        <span class="task-cat">Hangouts</span>
        <img src="https://raw.githubusercontent.com/arjunamgain/FilterMenu/master/images/2.jpg">
        <img src="https://raw.githubusercontent.com/arjunamgain/FilterMenu/master/images/3.jpg">
        <img src="https://raw.githubusercontent.com/arjunamgain/FilterMenu/master/images/profile.jpg">
      </li>
      <li class="three yellow">
        <span class="task-title">New Projects</span>
        <span class="task-time">2pm</span>
        <span class="task-cat">Starting</span>


      </li>

      <li class="three yellow">
        <span class="task-title">Lunch with Mary</span>
        <span class="task-time">2pm</span>
        <span class="task-cat">Grill House</span>
      </li>
      <li class="three yellow">
        <span class="task-title">Team Meeting</span>
        <span class="task-time">2pm</span>
        <span class="task-cat">Hangouts</span>
      </li>

    </ul>
  </div> %>
 </div>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>

