<%# <div class="wrapper"> %>
   <%# <header class="header"> %>
      <%# <div class="slider__contents"><i class="slider__image fa fa-bullhorn"></i> %>
      <%# <div class="header__bar row"> %>
        <%# <h1 class="grid-6">Everyone's Post</h1> %>
        <%# <p>Let's write information!</p> %>
        <%# <%= link_to new_post_path do%>
          <%# <div class="wrap"> %>
          <%# <button class="slider__post">new post</button> %>
          <%# </div> %>
        <%# <% end %>
      <%# </div> %>
    <%# </header> %>
    <%# <div class="block"> %>
      <%# <% @posts.each do |post| %>
          <%# <div class="content" id="content_main"> %>
            <%# <article class="article"> %>
            <%# <p><%= post.title</p> %>
            <%# <p><%= post.text %>
            <%# <p><%= post.name %>
            <%# <p><%= post.date%>
            <%# </article> %>
          <%# </div> %>
      <%# <% end %>
    <%# </div> %>
   

    <%# <footer>
      <p>
        NETWORK SECURITY 2020
      </p>
    </footer>
 </div>   %>

<div class="wrapper tabled">
  <div class="stage" id="page1">
    <div class="middled">

      <h2>Protect your app in the opinion of someone</h2>
      <h4>find & Strengthen!</h4>
      <div class="link-1">
        <a href="#">
          <span class="thin">attack </span><span class="thick">XSS</span>
        </a>
        <p>from JavaScript</p>
      </div>
      
      <div class="link-2">
        <a href="#">
          <span class="thin">attack </span><span class="thick">Dos</span>
        </a>
        <p>from karilinaxu</p>
      </div>
      
      <div class="link-3">
        <a href="#">
          <span class="thin">link</span><span class="thick">three</span>
        </a>
        <p>fat underline</p>    
      </div>

      <div class="link-4">
        <a href="#">
          <span class="thin">link</span><span class="thick">four</span>
        </a>
        <p>underline color change</p>    
      </div>

      <div class="link-5">
        <a href="#">
          <span class="thin">link</span><span class="thick">five</span>
        </a>
        <p>three + four</p>    
      </div>

      <div class="link-6">
        <a href="#">
          <span class="thin">link</span><span class="thick">six</span>
        </a>
        <p>minor scale up</p>    
      </div>

      <div class="link-7">
        <a href="#">
          <span class="thin">link</span><span class="thick">seven</span>
        </a>
        <p>heartbeat</p>    
      </div>
    </div>
 
  </div>
</div>


 