
<body>

 
  <div class="container">
    <h1 class="center">
    <%= link_to  posts_path do%>
      <h3 class="center_c">←カテゴリー選択へ戻る</h3>
    <% end %>
    
    </h1>
    <% @posts.each do |post| %>
      <article class="episode">
        <li class ="more_list">
         <%= link_to "詳細", post_path(post.id), method: :get %>
       </li>
        <%= link_to user_path(post.user.id) do%>
        <div class="episode__number"><%= post.user.nickname%></div>
        <% end %>
        <div class="episode__content">
        
          <div class="title">"<%= post.title%>"</div>
       
          <div class="story">
            <%= post.text.truncate(50) %>
          </div>
          <ul class="tag">
          <li class="tag-list">
            <% post.tags.each do |tag| %>
              #<%=tag.name%>
            <%end%>
          </li>
        </ul>
        </div>
      </article>
    <% end %>
 </div>
  

</body>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>

