<div class="contents_row">
<span class="name">
      <a href="/users/<%= @post.user.id %>">
        <%= @post.user.nickname %>
      </a>
    </span>
  <% if user_signed_in? && current_user.id == @post.user_id %>
    <div class="more">
    
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_post_path(@post.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', post_path(@post.id), method: :delete %>
        </li>
      </ul>
    </div>
     <% end %>
     <div class ="post_all">
        <p class ="post_title"><%= @post.title%></p>
        <p class ="post_text"><%= @post.text %></p>
        <span class="task-time"><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></span>
     </div>
   
    
      <% if user_signed_in? %>
        <% if @post.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
            <p><i class="fa fa-thumbs-up"></i><%=link_to @post.favorites.count, post_favorites_path(@post.id), method: :delete %></p>
        <% else %>
            <p><i class="fa fa-thumbs-up"></i><%=link_to @post.favorites.count, post_favorites_path(@post.id), method: :post %></p>
        <% end %>
       <% else %>
        <p><i class="fa fa-thumbs-up"></i><%= @post.favorites.count %></p>
      <% end %>
    
  </div>
  <div class="container">
    <% if current_user %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
     <div class = "comments_itirann">
      <h4>コメント一覧</h4>
      </div>
      
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
            <%= comment.created_at.strftime("%Y-%m-%d %H:%M")%>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>
